<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- Primary Meta Tags -->
	<title>Zouheir Layine - Freelance Full Stack Web Developer</title>
	<meta name="title" content="Zouheir Layine - Freelance Full Stack Web Developer">
	<meta name="description"
		content="A passionated Freelancer, Front-End and Back-End Developer that can make your ideas into real digital products">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://zouheirlayine.com/">
	<meta property="og:title" content="Zouheir Layine - Freelance Full Stack Web Developer">
	<meta property="og:description"
		content="A passionated Freelancer, Front-End and Back-End Developer that can make your ideas into real digital products">
	<meta property="og:image" content="https://zouheirlayine.com/images/preview.jpg">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://zouheirlayine.com/">
	<meta property="twitter:title" content="Zouheir Layine - Freelance Full Stack Web Developer">
	<meta property="twitter:description"
		content="A passionated Freelancer, Front-End and Back-End Developer that can make your ideas into real digital products">
	<meta property="twitter:image" content="https://zouheirlayine.com/images/preview.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic,300italic,400italic,300,700italic,800italic,800"
		rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="styles/materialdesignicons.css">
	<link rel="stylesheet" href="styles/fontawesome.min.css" />
	<link rel="stylesheet" href="styles/solid.min.css" />
	<link rel="stylesheet" href="styles/style.css" media="all" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body class="">
	<div class="overflow-wrap" ref="app" id="app">
		<div class="modal-wrap flex" v-bind:class="{visible: openModal}">
			<div class="mask" v-on:click="closeModal"></div>
			<div class="modal" id="modal">
				<div class="carousel-wrap">
					<div class="window">
						<div ref="carousel" id="carousel">
							<div class="slide" v-bind:class="{'fix-height': !!getProject.class}"></div>
							<div class="slide" v-bind:class="{'fix-height': !!getProject.class}"></div>
							<div class="slide" v-bind:class="{'fix-height': !!getProject.class}"></div>
						</div>
						<i class="mdi mdi-chevron-left" v-on:click="shiftSlide(1)" id="prev"></i>
						<i class="mdi mdi-chevron-right" v-on:click="shiftSlide(-1)" id="next"></i>
					</div>
				</div>
				<div class="info-box">
					<div class="title">{{getProject.title}}</div>
					<div class="tag">{{getProject.tag}}</div>
					<div class="detail">{{getProject.detail}}</div>
					<a :href="getProject.link" target="_blank" v-show="getProject.link">
						<div class="button">
							<i class="mdi mdi-open-in-new"></i>VIEW SITE
						</div>
					</a>
				</div>
				<i class="close mdi mdi-close" v-on:click="closeModal"></i>
			</div>
		</div>

		<section id="home" ref="home" class="flex height-fix">
			<div class="canvas" id="particles-js"></div>
			<div class="flex">
				<div class="text">
					Hello, I'm <span class="highlight">Zouheir Layine</span>.
					<br>
					I'm a Full-Stack Web Developer.
				</div>

				<div class="button page-link" dest="about" v-on:click="navLink">
					View my work <i class="mdi mdi-arrow-right"></i>
				</div>

				<nav ref="nav" class="flex" v-bind:class="navType">
					<div class="link-wrap" v-bind:class="{visible: isOpen}">
						<div class="page-link" v-bind:class="{active: currNav == 'home'}" dest="home" v-on:click="navLink">home
						</div>
						<div class="page-link" v-bind:class="{active: currNav == 'about'}" dest="about" v-on:click="navLink">about
						</div>
						<div class="page-link" v-bind:class="{active: currNav == 'portfolio'}" dest="portfolio"
							v-on:click="navLink">portfolio</div>
						<div class="page-link" v-bind:class="{active: currNav == 'contact'}" dest="contact" v-on:click="navLink">
							contact</div>
					</div>
					<i class="mdi mdi-menu" v-on:click="openNav"></i>
				</nav>
			</div>
		</section>

		<section ref="about" id="about">
			<div class="container flex">
				<div class="header waypoint animated slide-in-left" data-animation="slide-in-left">
					ABOUT
				</div>
				<div class="header-bar waypoint animated slide-in-left" data-animation="slide-in-left" data-delay=".5s"
					style="animation-delay: 0.5s;"></div>

				<div class="flex row label-wrap">
					<div class="flex row-gt-sm">

						<div class="flex bullet-wrap ">
							<div class="hex-wrap waypoint animated flip-in-x" data-animation="flip-in-x" data-delay=".2s"
								style="animation-delay: 0.2s;">
								<div class="hexagon">
									<i class="mdi mdi-cellphone-link"></i>
								</div>
							</div>
							<div class="waypoint animated fade-in" data-animation="fade-in" data-delay=".2s"
								style="animation-delay: 0.2s;">
								<div class="label bold">Responsive</div>
								<div>My layouts will work on any device, big or small.</div>
							</div>
						</div>

						<div class="flex bullet-wrap ">
							<div class="hex-wrap waypoint animated flip-in-x" data-animation="flip-in-x">
								<div class="hexagon">
									<i class="mdi mdi-speedometer"></i>
								</div>
							</div>
							<div class="waypoint animated fade-in" data-animation="fade-in">
								<div class="label bold">Fast</div>
								<div>

									Fast coding and bug free project is my highest priority.
								</div>
							</div>
						</div>
					</div>


					<div class="flex row-gt-sm">
						<div class="flex bullet-wrap ">
							<div class="hex-wrap waypoint animated flip-in-x" data-animation="flip-in-x" data-delay=".4s"
								style="animation-delay: 0.4s;">
								<div class="hexagon">
									<i class="mdi mdi-lightbulb-outline"></i>
								</div>
							</div>
							<div class="waypoint animated fade-in" data-animation="fade-in" data-delay=".4s"
								style="animation-delay: 0.4s;">
								<div class="label bold">Intuitive</div>
								<div>Strong preference for easy to use, intuitive UX/UI.</div>
							</div>
						</div>

						<div class="flex bullet-wrap ">
							<div class="hex-wrap waypoint animated flip-in-x" data-animation="flip-in-x" data-delay=".6s"
								style="animation-delay: 0.6s;">
								<div class="hexagon">
									<i class="mdi mdi-rocket"></i>
								</div>
							</div>
							<div class="waypoint animated fade-in" data-animation="fade-in" data-delay=".6s"
								style="animation-delay: 0.6s;">
								<div class="label bold">Dynamic</div>
								<div>
									Websites don't have to be static, I love making pages come
									to life.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="audio" class="skills-wrapper flex row-gt-sm">
					<div class="flex flex-50-gt-sm waypoint animated slide-in-left" data-animation="slide-in-left">
						<img src="images/me.png" class="me">
						<div class="label bold">Who's this guy?</div>
						<div class="label" style="line-height: 25px;font-size: 18px;">
							I'm a Front-End and Back-End Developer
							<br>
							I build successful websites and web apps that are fast, easy to use, and coded with the same eye for
							detail as a designer. <br />I Basically turn your requirements into a digital product - on time and on
							budget.
							<br>
							<span>Got any questions? <span v-on:click="navLink" class="page-link highlight" dest="contact">Contact
									me.</span></span>
						</div>
						<div class="download">
							<a target="_blank" href="/files/ZouheirCV.pdf" class="btn"><i class="mdi mdi-eye"></i>Resume</a>
						</div>
						<!-- <div class="audio-container">
                <div class="controls" v-bind:class="{open: isOpened}">
                    <div class="buttons">
                        <div class="flex-row">
                            <button size="small" class="btn-small restart"  v-on:click="restartAudio"><span class="fas fa-redo-alt"></span></button>
                            <button size="small" class="btn-small pause " v-on:click="pauseAudio" v-if="!this.pause"><span class="fas fa-pause"></span></button>
                            <button size="small" class="btn-small pause active" v-on:click="pauseAudio" v-else><span class="fas fa-play"></span></button>
                        </div>
                        <div class="timer">{{ audioTime | timeFilter }}</div>
                        <div class="flex-row">
                            <button size="small" class="btn-small forward" v-on:click="forwardAudio"><span class="fas fa-forward"></span></button>
                            <button size="small" class="btn-small cancel" v-on:click="cancelAudio"><span class="fas fa-times"></span></button>
                        </div>
                    </div>
                </div>
                <div class="shapes" v-bind:class="{playing: isPlaying, open: isOpened}">
                    <div class="square"></div>
                    <div class="circles">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="audio-btn" v-bind:class="{playing: isPlaying, open: isOpened}" v-on:click="playAudio">
                    <span class="icon off fas fa-volume-off" v-if="!isPlaying"></span>
                    <span class="icon fas fa-volume-up" v-else></span>
                </div>
                <audio id="player" />
              </div>
              <div class="languages flex-row">
                <div class="item" v-bind:class="{active: currLanguage == 'en'}" v-on:click="changeLanguage('en')">&#x1F1FA;&#x1F1F8;</div>
                <div class="item" v-bind:class="{active: currLanguage == 'fr'}" v-on:click="changeLanguage('fr')">&#x1F1EB;&#x1F1F7;</div>
                <!-- <div class="item" v-bind:class="{active: currLanguage == 'ar'}" v-on:click="changeLanguage('ar')">&#x1F1F2;&#x1F1E6;</div> -->
						<!-- </div> -->
					</div>

					<div class="flex flex-50-gt-sm waypoint bars-wrap animated slide-in-right" data-animation="slide-in-right">

						<div ref="tech_primary" class="list-tech">
							<div class="bar flex">
								<div class="bar fill" style="width:95%">
									<div class="tag bold flex">Vue</div>
								</div>
								<span>95%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:88%">
									<div class="tag bold flex">CSS</div>
								</div>
								<span>90%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:85%">
									<div class="tag bold flex">Nodejs</div>
								</div>
								<span>85%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:80%">
									<div class="tag bold flex">SQL</div>
								</div>
								<span>80%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:80%">
									<div class="tag bold flex">UI / UX</div>
								</div>
								<span>80%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:80%">
									<div class="tag bold flex">Laravel</div>
								</div>
								<span>80%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:80%">
									<div class="tag bold flex">JavaScript</div>
								</div>
								<span>80%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:75%">
									<div class="tag bold flex">React</div>
								</div>
								<span>75%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:75%">
									<div class="tag bold flex">REST API</div>
								</div>
								<span>75%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:70%">
									<div class="tag bold flex">Kubernetes</div>
								</div>
								<span>70%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:70%">
									<div class="tag bold flex">Docker</div>
								</div>
								<span>70%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:70%">
									<div class="tag bold flex">WordPress</div>
								</div>
								<span>70%</span>
							</div>

							<div class="bar flex">
								<div class="bar fill" style="width:65%">
									<div class="tag bold flex">Python</div>
								</div>
								<span>65%</span>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section ref="portfolio" class="flex" id="portfolio">
			<div class="header waypoint animated slide-in-right" data-animation="slide-in-right">
				PROJECTS
			</div>
			<div class="header-bar waypoint animated slide-in-right" data-animation="slide-in-right" data-delay=".3s"
				style="animation-delay: 0.3s;"></div>

			<div id="gallery" class="container flex row wrap animated">

				<div class="mix" data-my-order="1" style="display: inline-block;" data-bound="">
					<div>
						<div class="card"></div>
						<div class="text">
							<div class="bold">Rate my Plate</div>
							<div class="highlight">Nodejs / Vue / Graphql</div>
						</div>
						<div class="button" v-on:click="showModal('rate')" id="rate">LEARN MORE</div>
					</div>
				</div>

				<div class="mix" data-my-order="1" style="display: inline-block;" data-bound="">
					<div>
						<div class="card"></div>
						<div class="text">
							<div class="bold">Adsify</div>
							<div class="highlight">Laravel / Vue / Python</div>
						</div>
						<div class="button" v-on:click="showModal('adsify')" id="adsify">LEARN MORE</div>
					</div>
				</div>

				<div class="mix" data-my-order="1" style="display: inline-block;" data-bound="">
					<div>
						<div class="card"></div>
						<div class="text">
							<div class="bold">Email sender</div>
							<div class="highlight">Laravel / Vue</div>
						</div>
						<div class="button" v-on:click="showModal('send')" id="send">LEARN MORE</div>
					</div>
				</div>

				<div class="mix" data-my-order="1" style="display: inline-block;" data-bound="">
					<div>
						<div class="card"></div>
						<div class="text">
							<div class="bold">Email tracker</div>
							<div class="highlight">Laravel / Vue</div>
						</div>
						<div class="button" v-on:click="showModal('track')" id="track">LEARN MORE</div>
					</div>
				</div>

				<div class="mix" data-my-order="1" style="display: inline-block;" data-bound="">
					<div>
						<div class="card"></div>
						<div class="text">
							<div class="bold">Math on Demand</div>
							<div class="highlight">Node js / React js</div>
						</div>
						<div class="button" v-on:click="showModal('mod')" id="mod">LEARN MORE</div>
					</div>
				</div>

				<div class="mix" data-my-order="1" style="display: inline-block;" data-bound="">
					<div>
						<div class="card"></div>
						<div class="text">
							<div class="bold">AminesDesign</div>
							<div class="highlight">WordPress / PHP</div>
						</div>
						<div class="button" v-on:click="showModal('amines')" id="amines">LEARN MORE</div>
					</div>
				</div>

		</section>

		<section ref="contact" id="contact">
			<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1"
				xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
				<path d="M0 0 L50 100 L100 0 Z" fill="#f5f5f5" stroke="#f5f5f5"></path>
			</svg>
			<div class="container flex">
				<div class="header waypoint" data-animation="slide-in-left">
					HIRE ME NOW
				</div>
				<div class="header-bar waypoint" data-animation="slide-in-right" data-delay=".25s"
					style="animation-delay: 0.25s;"></div>
				<div class="highlight waypoint" data-animation="slide-in-right" data-delay=".5s" style="animation-delay: 0.5s;">
					Fill up the missing info bellow
				</div>
				<form class="waypoint form-content" data-animation="pop-in" data-delay=".5s" id="contact-form"
					style="animation-delay: 0.5s;">
					<p>
						My name is <span class="text-edit" ref="cName" contenteditable="true" v-on:input="nameChange" max="60"
							placeholder="Full name"></span> ,<br>
						and I&#x0027;d love to hire you for my next project.<br>
						Let&#x0027;s set up a time to chat.
						<br><br>
						You can reach me out at <span class="text-edit" ref="cEmail" contenteditable="true" max="60"
							placeholder="Email Address"></span><br>
					</p>
					<div id="alert" class="alert">
						<div>
							{{ messageForm }}<span v-on:click="closeSuccess" id="close" class="mdi mdi-close"></span>
						</div>
					</div>
					<button type="submit" class="hire" :disabled="isLoading" v-on:click="submitContact"><i></i> <span>send
							message</span></button>
				</form>
			</div>
		</section>

		<footer>
			<i class="mdi mdi-chevron-double-up page-link" dest="home" v-on:click="navLink"></i>

			<div class="icon-wrap flex row">
				<a href="https://www.linkedin.com/in/zouheir-layine">
					<div class="flex icon" id="icon-2">
						<i class="mdi mdi-linkedin"></i>
					</div>
				</a>
				<a href="https://www.facebook.com/zouheirli07">
					<div class="flex icon" id="icon-3">
						<i class="mdi mdi-facebook"></i>
					</div>
				</a>
				<a href="https://instagram.com/zou_ln/">
					<div class="flex icon" id="icon-4">
						<i class="mdi mdi-instagram"></i>
					</div>
				</a>
				<a href="https://github.com/zlayine">
					<div class="flex icon" id="icon-5">
						<i class="mdi mdi-github-circle"></i>
					</div>
				</a>
			</div>
			<div class="info-box">
				<div class="footnote">
					ZOUHEIR LAYINE <span class="highlight">©2020</span>
				</div>
			</div>
		</footer>
	</div>

	<div id="preload">
		<img src="./images/me.png">
		<img src="./images/filler.jpg">
		<img src="./images/thumb-mod.jpg">
		<img src="./images/thumb-send.jpg">
		<img src="./images/thumb-track.jpg">
		<img src="./images/thumb-amines.jpg">
		<img src="./images/thumb-rate.png">
		<img src="./images/thumb-adsify.jpg">
		<img src="./images/slides/adsify-0.jpg">
		<img src="./images/slides/adsify-1.jpg">
		<img src="./images/slides/adsify-2.jpg">
		<img src="./images/slides/mod-0.jpg">
		<img src="./images/slides/mod-1.jpg">
		<img src="./images/slides/mod-2.jpg">
		<img src="./images/slides/send-0.jpg">
		<img src="./images/slides/send-1.jpg">
		<img src="./images/slides/send-2.jpg">
		<img src="./images/slides/amines-0.jpg">
		<img src="./images/slides/amines-1.jpg">
		<img src="./images/slides/amines-2.jpg">
		<img src="./images/slides/track-0.jpg">
		<img src="./images/slides/track-1.jpg">
		<img src="./images/slides/track-2.jpg">
		<img src="./images/slides/rate-0.jpg">
		<img src="./images/slides/rate-1.jpg">
		<img src="./images/slides/rate-2.jpg">
	</div>

	<script src="scripts/index.js"></script>
	<script src="scripts/particles.min.js"></script>
	<script>
		particlesJS.load('particles-js', 'scripts/particles.json', function () {
			// console.log('callback - particles.js config loaded');
		});
	</script>
</body>

</html>